.background {
  min-height: 100vh;
  background-image: url("recipeid.jpg");
  background-size: cover;
  display: flex;
  isolation: isolate;
}

.container {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color: rgba(73, 112, 29, 0.9);
}

.title {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  background-color: rgb(151, 38, 38);
  mix-blend-mode: hard-light;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  text-decoration: underline 2px;
}

.title::before {
  content: "";
  width: 1%;
}

.description {
  /* display: flex;
  align-items: center; */
  line-height: 1.5em;
  padding: 15px;
  color: rgba(255, 255, 255, 1);
  height: 15vh;
}

.description::before {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: var(--yellow);
}

.description::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background-color: var(--yellow);
}
.mainSection {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  min-height: 62vh;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.contentTitle {
  font-family: "Roboto Mono", monospace;
  text-decoration: underline 2px;
  font-size: 25px;
  display: flex;
  color: black;
}

.ingredientsList {
  padding: 2px;
  counter-reset: step-counter;
  list-style: none;
}

.listItem {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.steps {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.steps::before {
  counter-increment: step-counter;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
  content: counter(step-counter) ") ";
  color: white;
}

.img {
  width: 508px;
  height: 376px;
  margin-top: 25px;
}

.loading {
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.buttonContainer {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  background-color: var(--yellow);
  font-family: var(--fontPoppins);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0px 5px;
  width: auto;
  border-radius: 5px;
  height: 100%;
}

.informError {
  position: absolute;
  padding: 20px;
  width: 500px;
  text-align: center;
  top: 40%;
  left: calc(50% - 250px);
  color: black;
  font-family: var(--fontPoppins);
  font-size: 40px;
  background-color: rgba(235, 123, 19, 1);
}
