.resultContainer {
  /* padding-top: 3vh; */
  padding: 1%;
  width: 98%;
  height: 78.5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  /*align-items: center; */
}

.cardContainer {
  width: 100%;
  height: 25vh;
  margin: 10px 0px;
  display: flex;
  justify-content: space-evenly;
}

.loading {
  display: none;
  position: absolute;
  background-image: url("loading.svg");
  background-size: cover;
  width: 100px;
  height: 100px;
  top: 50%;
  left: calc(50% - 50px);
}

.loadingImage {
  width: 100%;
  height: 100%;
}
